* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#nav {
  width: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f1f0f5;
}

#cvs {
  width: 10rem;
  height: 1.2rem;
  background: #ccc;
  position: relative;
  background: #ccc;
  z-index: 1;
  opacity: 0.5;
}

#header {
  position: absolute;
  width: 10rem;
  height: 1.2rem;
  background: #fff;
  border-bottom: 2px solid #b21d30;
}

#header img {
  width: 1.92rem;
  height: 0.93333rem;
  margin-left: 4rem;
  margin-top: 0.26667rem;
}

#section {
  width: 10rem;
  flex: 1;
  overflow-y: auto;
}

#footer {
  width: 10rem;
  height: 1.86667rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8a8a8a;
}

#footer div {
  width: 1.86667rem;
  height: 1.86667rem;
  text-align: center;
}

#footer p {
  font-size: 0.74667rem;
  padding-top: 0.26667rem;
}

#footer a {
  font-size: 0.37333rem;
}

.swiper-container {
  width: 10rem;
  height: 4rem;
}

.swiper-container img {
  width: 10rem;
  height: 4rem;
}

#hua {
  width: 10rem;
  height: 2.53333rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hua div {
  width: 2.18667rem;
  height: 2.53333rem;
  text-align: center;
}

#hua p {
  font-size: 1.33333rem;
  padding-top: 0.26667rem;
}

#hua a {
  font-size: 0.4rem;
  color: #959595;
}

#tou {
  width: 10rem;
  height: 2.66667rem;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

#tou h6 {
  font-size: 0.42667rem;
  padding-top: 0.4rem;
  padding-left: 0.26667rem;
}

#dv1 {
  display: flex;
}

#dv2 {
  display: flex;
  font-size: 0.4rem;
  color: #a0a0a0;
  margin-top: 0.26667rem;
}

#dv3 {
  display: flex;
  font-size: 0.32rem;
  margin-top: 0.37333rem;
}

.li1 {
  padding-left: 0.32rem;
  color: #fe555a;
}

.li2 {
  padding-left: 0.61333rem;
}

.li3 {
  padding-left: 0.90667rem;
}

.liz {
  padding-left: 0.32rem;
}

.lis {
  padding-left: 1.28rem;
}

.lix {
  padding-left: 0.93333rem;
}

.pl {
  width: 0.48rem;
  height: 0.48rem;
  background: #f8b648;
  color: #fff;
  text-align: center;
  line-height: 0.48rem;
  margin-top: 0.4rem;
  margin-left: 0.32rem;
}

.ps {
  width: 0.42667rem;
  height: 0.42667rem;
  line-height: 0.42667rem;
  background: #f87d20;
  text-align: center;
  color: #fff;
  margin-top: 0.45333rem;
  margin-left: 0.18667rem;
}

#canvas_1 {
  position: absolute;
  top: 0.4rem;
  right: 0.26667rem;
  z-index: 1;
}

#canvas_2 {
  position: absolute;
  top: 0.4rem;
  right: 0.26667rem;
  z-index: 2;
  background: transparent;
  transform: rotate(-90deg);
}

#canvas_3 {
  position: absolute;
  top: 0.4rem;
  right: 0.26667rem;
  z-index: 1;
}

#canvas_4 {
  position: absolute;
  top: 0.4rem;
  right: 0.26667rem;
  z-index: 2;
  background: transparent;
  transform: rotate(-90deg);
}

#canvas_5 {
  position: absolute;
  top: 0.4rem;
  right: 0.26667rem;
  z-index: 1;
}

#canvas_6 {
  position: absolute;
  top: 0.4rem;
  right: 0.26667rem;
  z-index: 2;
  background: transparent;
  transform: rotate(-90deg);
}
